body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-family: "Black Ops One", Verdana, Geneva, Tahoma, sans-serif;

  /* display: grid;
  place-content: center; */
}
/* .black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
} */

#jugadoresForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  width: 80%;
  margin: auto;
  padding: 10% 5%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-image: url("./assets/fondo1.png");
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#jugadoresForm h1 {
  font-size: 2.5;
  padding: 3px;
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.518);
}
#jugadoresForm span {
  padding: 3px;
  border-radius: 4px;
  background-color: rgba(245, 245, 245, 0.518);
}

#nombre1,
#nombre2 {
  margin: 4% 0px;
  width: 250px;
  height: 25px;
}
#color1,
#color2 {
  margin: 4% 0px;
  width: 80px;
  height: 25px;
}

#jugadoresForm img {
  width: 200px;
  position: absolute;
  top: 35%;
  right: 8%;
}
#jugadoresForm button {
  height: 30px;
  width: 150px;
  border-radius: 6px;
  background-color: rgb(247, 247, 237);
}

#contenedorJuego {
  visibility: hidden;
  /* height: 0px; */
  /* height: 3000px; */
  height: 80%;
  padding: 150px 0px;
  background-image: url("./assets/fondo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contenedorCasillas {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* grid-gap: 20px; */
}

.row {
  display: flex;
  flex-direction: row;
}

.cellButton {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 130px;
  color: #261f05;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  width: 120px;
  height: 120px;
  border: 2px solid #261f05;
  border-radius: 6px;
  margin: 3px;
  cursor: pointer;
  background-image: url("./assets/casilla.png");
  background-position: center;
  background-size: contain;
  line-height: 150px;
  text-align: center;
  vertical-align: center;
}
.avisoJugador {
  margin-bottom: 100px;
}
.containerButtons {
  max-width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.containerButtons button {
  font-size: 1em;
  font-family: "Black Ops One", Verdana, Geneva, Tahoma, sans-serif;
  height: 55px;
  width: 200px;
  margin: 1%;
  border-radius: 7px;
  cursor: pointer;
  background-color: rgb(247, 247, 237);
}
.containerAvisos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.containerAvisos h1 {
  font-size: 2.5em;
  color: whitesmoke;
}
.containerAvisos p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 700;
  height: 35px;
  width: 25%;
  text-align: center;
  border: 2px solid #261f05;
  border-radius: 8px;
  padding: 2px;
  margin: 5px;
  background-color: rgb(247, 247, 237);
}

@media (max-width: 1600px) {
  .containerButtons button {
    font-size: 1em; /* Tamaño de letra más pequeño para pantallas pequeñas */
  }
  .containerAvisos p {
    font-size: 1.1em;
  }
  /* #jugadoresForm img {
    top: 320px;
    right: 20px;
  }  */
}
@media (max-width: 1250px) {
  .containerAvisos {
    flex-direction: column;
  }
  .containerAvisos p {
    font-size: 1.2em;
    width: 400px;
  }
  /* #jugadoresForm img {
    top: 320px;
    right: 70px;
  } */
}
@media (min-width: 992px) and (max-width: 1249.98px) {
  #jugadoresForm {
    /* background-color: blue; */
  }
}
@media (max-width: 991.98px) {
  #jugadoresForm {
    display: flex;
    flex-direction: column;
  }
  #jugadoresForm img {
    top: 520px;
    right: 40px;
  }

  #jugadoresForm h1 {
    font-size: 1.5em;
    flex-direction: column;
    text-align: center;
  }
  #jugadoresForm p {
    font-size: 1.3em;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(245, 245, 245, 0.518);
  }
  #jugadoresForm span {
    width: 280px;
    padding: 3px;
    border-radius: 4px;
    background-color: rgba(245, 245, 245, 0.518);
  }
  #nombre1,
  #nombre2 {
    justify-content: flex-start;
    text-align: start;
    width: 250px;
    height: 25px;
    text-wrap: nowrap;
    border-radius: 4px;
  }
  #color1,
  #color2 {
    width: 120px;
    border-radius: 4px;
  }
  .containerAvisos h1 {
    text-align: center;
  }
  .containerButtons button {
    margin: auto;
    font-size: 0.8em;
    height: 40px;
    width: 150px;
  }
  .player {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: start;
  }

  .containerButtons {
    max-width: 500px;
  }

  @media (max-width: 779.98px) {
    #jugadoresForm img {
      width: 130px;
      top: 520px;
      right: 20px;
    }
    #jugadoresForm h1 {
      font-size: 1.2em;
    }
  }
  @media (max-width: 479.98px) {
    #jugadoresForm img {
      display: none;
    }

    #nombre1,
    #nombre2 {
      width: 200px;
      height: 25px;
    }
    #jugadoresForm span {
      width: 200px;
    }
  }
}
